<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>


<main>
  <div>
    <div stlye="width: 200px">
      <form stlye="width: 200px" action="/books" method="GET">
        <div stlye="width: 200px" class="input-group">
          <input stlye="width: 200px"type="search" class="form-control rounded" placeholder="Search" aria-label="Search" aria-describedby="search-addon" />
          <button type="submit" class="btn btn-outline-primary">search</button>
        </div>
      </form>
    </div>
    <% try { %>
        <% var i = 0 %>
        <% books.forEach(function(book) { %>
            <% if (i % 3 === 0){ %>
                <div class="row">
            <%} %>
            <% i++ %>
            <div class="col-sm d-flex justify-content-center">
                <div class="card" style="width: 20rem;" data-mdb-toggle="animation" data-mdb-animation="zoom-in" data-mdb-animation-start="onHover">
                    <a class="card-block stretched-link" href="/singlebook/<%= book.id %>"></a>
                    <div class="card-body">
                        <img src="/book_img" class="card-img" height="55%" style=""/>
                        <h5 class="card-title" style="padding-top: 10px;"><%= book.title %></h5>
                        <h6 class="card-subtitle mb-2 text-muted"> <%=book.name%>
                            <%for(var j = 0; j < book.authors.length; j++){ %>
                                <%= book.authors[j]%>
                            <%} %>
                        </h6>
                        <h7 class="card-subtitle mb-2 text-muted"><%= book.subjects[0]%></h7>
                    </div>
                </div>
            </div>

          <!-- Blank card bc Bootstrap doesn't support creating static grids -->
          <% if(i >= books.length && ((i % 3) != 0)){ %>
            <div class="col-sm d-flex justify-content-center">
                <div class="card" id="blank">
                    <div class="card-body">
                    </div>
                </div>
            </div>
          <% } %>
          <% if (i % 3 === 0) { %>
            </div>
          <% } %>
        <% }) %>
    <% } catch (err) { %>
      <p>No books found</p>
    <% } %>
  </div>
</main>

<style>
    #blank{
        border: none;
    }

    .card{
        margin-top: 5px;
        margin-bottom: 5px;
    }
</style>

<%- include ('../partials/footer') %>