<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>

<div class="row">
  <h1>Welcome <%= username %>!</h1>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Favorite Books</h5>
        <% if (favoriteBooks.length === 0) { %>
        <p>You haven't added any favorite books yet.</p>
        <% } else { %>
        <ul class="list-group">
          <% favoriteBooks.forEach(book => { %>
          <li class="list-group-item">
            <h6><%= book.title %></h6>
            <p>By <%= book.author %></p>
            <p><%= book.genre %></p>
            <p><%= book.description %></p>
            <button class="btn btn-danger" onclick="deleteBook(<%= book.id %>)">Delete</button>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
  <div class="col-md-6">
    <div class="card mb-3">
      <div class="card-body">
        <h5 class="card-title">Annotations and Comments</h5>
        <% if (annotations.length === 0) { %>
        <p>You haven't added any annotations or comments yet.</p>
        <% } else { %>
        <ul class="list-group">
          <% annotations.forEach(annotation => { %>
          <li class="list-group-item">
            <h6><%= annotation.book.title %></h6>
            <p>Page <%= annotation.page_number %>, index <%= annotation.start_index %> to <%= annotation.end_index %></p>
            <p><%= annotation.comment %></p>
            <button class="btn btn-danger" onclick="deleteAnnotation(<%= annotation.id %>)">Delete</button>
          </li>
          <% }); %>
        </ul>
        <% } %>
      </div>
    </div>
  </div>
</div>
<%- include ('../partials/footer') %>
<script>
  function deleteBook(bookId) {
  if (confirm("Are you sure you want to delete this book?")) {
    $.ajax({
      url: "/api/books/" + bookId,
      type: "DELETE",
      success: function(result) {
        // Reload the page to reflect the updated data
        location.reload();
      },
      error: function(error) {
        alert("Failed to delete book: " + error);
      }
    });
  }
}

function deleteAnnotation(annotationID) {
  if (confirm("Are you sure you want to delete this annotation?")) {
    $.ajax({
      url: "/api/books/" + annotationID,
      type: "DELETE",
      success: function(result) {
        // Reload the page to reflect the updated data
        location.reload();
      },
      error: function(error) {
        alert("Failed to delete book: " + error);
      }
    });
  }
}


</script>