<%- include ('../partials/head') %> <%- include ('../partials/menu') %>
<main>
  <div class="container">
    <h1><centre>Welcome User : <%= username %></centre></h1>
    <table class="table">
        <tbody>
          <tr>
            <td>FIRST NAME</td>
            <td><%= first_name %></td>
          </tr>
          <tr>
            <td>LAST NAME</td>
            <td><%= last_name %></td>
          </tr>
          <tr>
            <td>EMAIL</td>
            <td><%= email %></td>
          </tr>
          <tr>
            <td>YEAR</td>
            <td><%= year %></td>
          </tr>
          <tr>
            <td>MAJOR</td>
            <td><%= major %></td>
          </tr>
          <tr>
            <td>DEGREE</td>
            <td><%= degree %></td>
          </tr>
        </tbody>
      </table>
    </div>
</main>

<%- include ('../partials/footer') %>