<%- include ('../partials/head') %>
<%- include ('../partials/menu') %>
<h1>Welcome, <%= first_name %> <%= last_name %> (<%= username %>)!</h1>

<h2>User Info</h2>
<ul>
  <li>Email: <%= email %></li>
  <li>Year: <%= year %></li>
  <li>Major: <%= major %></li>
  <li>Degree: <%= degree %></li>
</ul>

<h2>Favorite Books</h2>
<% if (favoriteBooks.length === 0) { %>
  <p>You haven't added any favorite books yet.</p>
<% } else { %>
  <ul>
    <% favoriteBooks.forEach(book => { %>
      <li>
        <h3><%= book.title %> by <%= book.author %></h3>
        <ul>
          <li>Genre: <%= book.genre %></li>
          <li>Description: <%= book.description %></li>
        </ul>
      </li>
    <% }) %>
  </ul>
<% } %>

<h2>Annotations</h2>
<% if (annotations.length === 0) { %>
  <p>You haven't added any annotations yet.</p>
<% } else { %>
  <ul>
    <% annotations.forEach(annotation => { %>
      <li>
        <h3>Annotation <%= annotation.id %> (Book ID: <%= annotation.book_id %>, Page Number: <%= annotation.page_number %>)</h3>
        <ul>
          <li>Comment: <%= annotation.comment %></li>
        </ul>
      </li>
    <% }) %>
  </ul>
<% } %>
<%- include ('../partials/footer') %>